@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arvo;
}

.container {
  width: 1280px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navigation-section {
  background: #e1b12c;
  color: #192a56;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
}

.footer-section {
  background: #192a56;
  color: #dcdde1;
  position: sticky;
  bottom: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

footer ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}
